body{

    font-family: 'Indie Flower', cursive;
    margin: 0px;
}
h1{
    font-size: 69px ;
}
h2{
    font-size: 40px;
}
.redcolour{
        color: firebrick;    
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    padding-left: 10%;
 }
.half-width img{
    width: 100%;
}
.button-hire-me{
    display: ruby-text;
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    }
p{
    padding: 10px;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: round;
    background-position: left;
}
#image-repeat{
    background-color: white;
    font-weight: 800;
}
.experience{
    padding-left: 40px;
    margin: 5px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-size: 180px;
}
.experience-item{
    box-shadow: 10px 20px 40px  rgb(69, 42, 158);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 20px;
    
}
#fullweb{
    border-left: 10px solid;
    border-image: linear-gradient(yellow,orange,red);
    border-image-slice: 1;
}
#babydev{
    border-left: 10px solid;
    border-image: linear-gradient(yellow,orange,red);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-family: 'Questrial', sans-serif;
}